<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460985078124-ibl593vvhec64gvfb8ufs1njlm5kitur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460985078124-ibl593vvhec64gvfb8ufs1njlm5kitur</string>
	<key>API_KEY</key>
	<string>AIzaSyA2wmi0Orbv5fBSv0hfO8V2o8Tr_IiFAGo</string>
	<key>GCM_SENDER_ID</key>
	<string>460985078124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireAuthServ.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-coba-97178</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-coba-97178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460985078124:ios:1e0b4faacb6cf64050a349</string>
</dict>
</plist>